<section class="common-img-bg">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">SignUp</h3>
          <div class="d-flex justify-content-end social_icon">
            <!-- <span><i class="fab fa-facebook-square"></i></span>
            <span><i class="fab fa-google-plus-square"></i></span>
            <span><i class="fab fa-twitter-square"></i></span> -->
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="userForm">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="username" formControlName="username">
              <div class="invalid-feedback" *ngIf="submitted&&f.username.errors">
                <div class="invalid-error" *ngIf="f.username.errors.required">username is required</div>
              </div>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="email" formControlName="email">
              <div class="invalid-feedback" *ngIf="submitted&&f.email.errors">
                <div class="invalid-error" *ngIf="f.email.errors.required">Email is required</div>
                <div class="invalid-error" *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
           
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="password" formControlName="password">
              <div class="invalid-feedback" *ngIf="submitted&&f.password.errors">
                <div class="invalid-error" *ngIf="f.password.errors.required">password is required</div>
              </div>
            </div>
            
            <div class="form-group" *ngIf="!showLoader">
              <button type="button" class="btn btn-primary" style="float:right" (click)="register()">SignUp</button>
  
            </div>
            <div class="form-group"  *ngIf="showLoader">
              <button type="button" class="btn btn-primary" style="float:right" (click)="register()">Please wait..<div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
              </div></button>
  
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  </section>